<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}
    <link rel="icon" href="{% static '/images/iconohuella.png' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Braah+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/93aa3dd841.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    

    <title>Python Pets</title>
</head>

<header>
    <div class="contenedor">
        <input type="checkbox" id="menu-check">
        <label id="menu" for="menu-check">
            <span id="menu-abrir">&#9776;</span>
            <span id="menu-cerrar">X</span>
        </label>
        <nav> 
            <ul>
                <li><img id="logo" src="{% static 'images/logo.png' %}" /></li>
                <li style="margin-right: 200px">
                    <h4 style="margin-bottom: 45px">Python Pets</h4>
                </li>
                <li class="{% if 'home' in request.path %}active{% endif %}" >
                    <a href="{% url 'Home' %}">Inicio</a></li>
                <li class="{% if 'nosotros' in request.path %}active{% endif %}">
                    <a href="{% url 'Nosotros' %}">Nosotros</a></li>
                <li class="{% if 'catalogo' in request.path %}active{% endif %}" >
                    <a href="{% url 'Catalogo' %}">Productos</a></li>
                <li class="{% if 'contacto' in request.path %}active{% endif %}">
                    <a href="{% url 'Contacto' %}">Contacto</a></li>
            </ul>
            <ul>
                {% if request.user.is_authenticated%}
                    <li id="carrito">
                        <a href="https://media.tenor.com/4EAKayO3n_cAAAAC/kitten-cat.gif">Carrito</a></li>
                        <li >
                            <a href="{% url 'ABM' %}">ABM</a></li>
                        <li>
                    <li>
                        <a href="{% url 'Salir' %}">Salir</a></li>
                {% else %}    
                <li>
                    <a href="{% url 'Registro' %}">Crear usuario</a>
                </li>
                <li>
                    <a href="{% url 'Login' %}">Ingresar</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<hr class="separador">


{% block content %}{% endblock %}

<footer> 
    <p> Copyright (c) 2023 - Todos los derechos reservados - Python Pets</p>
</footer>

<script src="{% static '/app.js' %}"></script>

</html>