{% extends "base.html" %}
{% load static %}
{% block content %}

<body class="page">

    <hr id="separador">
    <h1>Catalogo</h1>
    <hr id="separador">

<section class="catalogo">
    <div class="grid-container">
        {% for articulo in articulos %}
        <div class="grid-item">
            <img class="img-producto" src="{{articulo.imagen.url}}" alt="producto">
            <h4>{{articulo.nombre}}</h4>
            <h6>${{articulo.precio}}</h6>
            <button class="btn-producto">Agregar al carrito</button>
        </div>
        {% endfor %}
    </div>
    
</section>
    <hr id="separador">
</body>
{% endblock %}