{% extends "base.html" %}
{% block content %}

<body class="page">

    <hr id="separador">
    <h1>Contactanos</h1>
    <hr id="separador">

    <div class="formdecontacto">
        <form action="" method="POST" nctype="text/plain" id="contact_form">{% csrf_token %}
            <div class="name">
                <input name="nombre" type="text" placeholder="Nombre y Apellido" id="name_input">
            </div>
            <div class="email">
                <input name="email" type="text" placeholder="Email" id="mail_input">
            </div>
            <div class="message">
                <textarea id="message" name="message" placeholder="Dejanos tu comentario y nos pondremos en contacto contigo lo antes posible" rows="7"></textarea>
            </div>
            <div class="btnenviar">
                <button type="submit" onclick="alert('Muchas gracias por contactarte, pronto recibiras respuesta')"id="botonenviar">Enviar</button>
            </div>

        </form>

    </div>
    <hr id="separador">
</body>

{% endblock %}